.section__title {
    margin-bottom: 40px;
}

.faq-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.faq-list__item {
    position: relative;
    cursor: pointer;
}

.question__text {
    background-color: #fff;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question:nth-child(even)>p {
    background-color: purple;
    color: #fff;
}

.question>p::after {
    content: "";
    background-repeat: no-repeat;
    width: 46px;
    height: 46px;
    background-image: url(../img/open.svg);
}

.question:nth-child(odd)>p:after {
    content: "";
    background-repeat: no-repeat;
    width: 46px;
    height: 46px;
  
}

    .question:hover {
    background-color: #FFFFFF;
    border-color: 1px solid #6C0287;
    color: #6C0287;
}

.question>p::after:active {
    background-color: #FFFFFF;
    border-color: 2px solid #FFFFFF;
    color: #FFFFFF;
}