.rezerv {
    width: 1440px;
    background-color: var(--main-purple, #440F51); 
    margin: 0 auto;
}

.bron-btn {
    display: flex;
    justify-content: flex-end;
}

.bron-btn__btn {
    width: 300px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--main-color, #fff);
    color: var(--main-menu-bg, #6C0287);
    font-family: Arial;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.rezerv__subtitle {
    font-family: Arial;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-bottom: 40px;
}

.rezerv-kit {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}
.bron {
    display: flex;
    column-gap: 50px;
}

.rezerv-list {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-bottom: 60px;
}

.rezerv-list2 {
    display: flex;
    flex-direction: column;
}

.button-zal {
    width: 250px;
    height: 55px;
    border-radius: 8px;
    gap: 60px;
    background-color: var(--main-color, #fff);
    font-family: Arial;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-align: center; 
}

.rezerv__checkbox {
    
}

.bron__date {
    width: 134px;
    height: 52px;
    top: 3516px;
    left: 230px;
   
      
}
.che {
    width: 21px;
    height: 15px;
    top: 3637px;
    left: 503px;
    angle: 180 deg;
    background-color: var(--main-dark, #1b1a1b);
}


fieldset {
    border: none;
}

legend {
    font-family: Arial;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    color: var(--main-color, #fff);
    margin-bottom: 23px;
}
.rezerv-list2 {
    font-family: Arial;
    font-size: 22px;
    font-weight: 400;
    line-height: 25.3px;
    text-align: left;
    color: var(--main-color, #fff);
}

.rezerv-form__btn:hover {
    background-color: var(--main-selago, #EADEED);
    border-color: 3px solid var(--main-menu-bg, #6C0287);
    color: var(--main-menu-bg, #6C0287);
}

.rezerv-form__btn:active {
    background-color: var(--main-selago, #EADEED);
    color: var(--main-menu-bg, #6C0287);
}

.rezerv-form__btn:focus {
    background-color: var(--main-color, #fff);
    border-color: 3px solid var(--main-menu-bg, #6C0287);
    color: var(--main-menu-bg, #6C0287);
}

.button-zal:hover {
    background-color: var(--main-selago, #EADEED);
    border-color: 3px solid #640AA3;
    color: var(--main-dark, #1b1a1b);
}

.button-zal:active {
    background-color: var(--main-menu-bg, #6C0287);
    border-color: 3px solid var(--main-color);
    color: var(--main-color, #fff);
}

.button-zal:focus {
    background-color: var(--main-color, #fff);
    border-color: 3px solid #640AA3;
    color: var(--main-dark, #1b1a1b);
}

.checkbox:focus {
    background-color: var(--main-color, #fff);
    border-color: 1px solid var(--main-purple-light, #CD06FF);
    color: var(--main-color, #fff);
}
